[submodule "vendor/github.com/Pallinder/go-randomdata"]
	path = vendor/github.com/Pallinder/go-randomdata
	url = https://github.com/Pallinder/go-randomdata
[submodule "vendor/github.com/aryann/difflib"]
	path = vendor/github.com/aryann/difflib
	url = https://github.com/aryann/difflib
[submodule "vendor/github.com/go-openapi/errors"]
	path = vendor/github.com/go-openapi/errors
	url = https://github.com/go-openapi/errors
[submodule "vendor/github.com/go-openapi/runtime"]
	path = vendor/github.com/go-openapi/runtime
	url = https://github.com/go-openapi/runtime
[submodule "vendor/github.com/go-openapi/strfmt"]
	path = vendor/github.com/go-openapi/strfmt
	url = https://github.com/go-openapi/strfmt
[submodule "vendor/github.com/go-openapi/swag"]
	path = vendor/github.com/go-openapi/swag
	url = https://github.com/go-openapi/swag
[submodule "vendor/github.com/go-openapi/validate"]
	path = vendor/github.com/go-openapi/validate
	url = https://github.com/go-openapi/validate
[submodule "vendor/github.com/mkideal/cli"]
	path = vendor/github.com/mkideal/cli
	url = https://github.com/mkideal/cli
[submodule "vendor/github.com/op/go-logging"]
	path = vendor/github.com/op/go-logging
	url = https://github.com/op/go-logging
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/bozaro/golorem"]
	path = vendor/github.com/bozaro/golorem
	url = https://github.com/bozaro/golorem
[submodule "vendor/github.com/tinylib/msgp"]
	path = vendor/github.com/tinylib/msgp
	url = https://github.com/tinylib/msgp
