[submodule "vendor/github.com/Pallinder/go-randomdata"]
	path = vendor/github.com/Pallinder/go-randomdata
	url = https://github.com/Pallinder/go-randomdata
[submodule "vendor/github.com/PuerkitoBio/purell"]
	path = vendor/github.com/PuerkitoBio/purell
	url = https://github.com/PuerkitoBio/purell
[submodule "vendor/github.com/PuerkitoBio/urlesc"]
	path = vendor/github.com/PuerkitoBio/urlesc
	url = https://github.com/PuerkitoBio/urlesc
[submodule "vendor/github.com/asaskevich/govalidator"]
	path = vendor/github.com/asaskevich/govalidator
	url = https://github.com/asaskevich/govalidator
[submodule "vendor/github.com/go-openapi/analysis"]
	path = vendor/github.com/go-openapi/analysis
	url = https://github.com/go-openapi/analysis
[submodule "vendor/github.com/go-openapi/errors"]
	path = vendor/github.com/go-openapi/errors
	url = https://github.com/go-openapi/errors
[submodule "vendor/github.com/go-openapi/jsonpointer"]
	path = vendor/github.com/go-openapi/jsonpointer
	url = https://github.com/go-openapi/jsonpointer
[submodule "vendor/github.com/go-openapi/jsonreference"]
	path = vendor/github.com/go-openapi/jsonreference
	url = https://github.com/go-openapi/jsonreference
[submodule "vendor/github.com/go-openapi/loads"]
	path = vendor/github.com/go-openapi/loads
	url = https://github.com/go-openapi/loads
[submodule "vendor/github.com/go-openapi/runtime"]
	path = vendor/github.com/go-openapi/runtime
	url = https://github.com/go-openapi/runtime
[submodule "vendor/github.com/go-openapi/spec"]
	path = vendor/github.com/go-openapi/spec
	url = https://github.com/go-openapi/spec
[submodule "vendor/github.com/go-openapi/strfmt"]
	path = vendor/github.com/go-openapi/strfmt
	url = https://github.com/go-openapi/strfmt
[submodule "vendor/github.com/go-openapi/swag"]
	path = vendor/github.com/go-openapi/swag
	url = https://github.com/go-openapi/swag
[submodule "vendor/github.com/go-openapi/validate"]
	path = vendor/github.com/go-openapi/validate
	url = https://github.com/go-openapi/validate
[submodule "vendor/github.com/mailru/easyjson"]
	path = vendor/github.com/mailru/easyjson
	url = https://github.com/mailru/easyjson
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/aryann/difflib"]
	path = vendor/github.com/aryann/difflib
	url = https://github.com/aryann/difflib
[submodule "vendor/github.com/Bowery/prompt"]
	path = vendor/github.com/Bowery/prompt
	url = https://github.com/Bowery/prompt
[submodule "vendor/github.com/drhodes/golorem"]
	path = vendor/github.com/drhodes/golorem
	url = https://github.com/drhodes/golorem
[submodule "vendor/github.com/labstack/gommon"]
	path = vendor/github.com/labstack/gommon
	url = https://github.com/labstack/gommon
[submodule "vendor/github.com/mattn/go-colorable"]
	path = vendor/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty
[submodule "vendor/github.com/mkideal/cli"]
	path = vendor/github.com/mkideal/cli
	url = https://github.com/mkideal/cli
[submodule "vendor/github.com/mkideal/pkg"]
	path = vendor/github.com/mkideal/pkg
	url = https://github.com/mkideal/pkg
[submodule "vendor/github.com/ventu-io/go-shortid"]
	path = vendor/github.com/ventu-io/go-shortid
	url = https://github.com/ventu-io/go-shortid
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/gopkg.in/mgo.v2"]
	path = vendor/gopkg.in/mgo.v2
	url = http://gopkg.in/mgo.v2
