{{define "message"}}
{{ $id := uid }}
<div id="{{$id}}" class="tabs">
    {{ $raw_only := eq .Payload.BodyRaw .Payload.BodyJson }}
    <input id="{{$id}}_raw" type="radio" name="{{$id}}" checked="{{if $raw_only}}checked{{end}}"
           onchange="UpdateTab('{{$id}}')"/>
    <label for="{{$id}}_raw" class="{{if $raw_only}}checked{{end}}">RAW</label>
    {{if ne .Payload.BodyRaw .Payload.BodyJson }}
    <input id="{{$id}}_json" type="radio" name="{{$id}}" checked="checked" onchange="UpdateTab('{{$id}}')"/>
    <label for="{{$id}}_json">Pretty JSON</label>
    {{end}}
    <div class="tab_title">{{.Title}}</div>
    <div style="clear:both"></div>
    <div class="tab_content">
        <pre><code class="http">{{.Payload.Title}}
{{range $key, $value := .Payload.Header}}{{range $value}}
{{- $key }}: {{ . }}
{{end}}{{end}}
</code></pre>
        <pre id="{{$id}}_raw_tab"
             style="{{if not $raw_only}}display: none{{end}}"><code>{{.Payload.BodyRaw}}</code></pre>
        {{if not $raw_only }}
        <pre id="{{$id}}_json_tab"><code class="javascript">{{.Payload.BodyJson}}</code></pre>
        {{end}}
    </div>
</div>
{{end}}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Результат тестирования</title>
    {{ asset "style type='text/css'" "highlight.js/styles/idea.css" }}
    {{ asset "style type='text/css'" "template.css" }}
    {{ asset "script" "highlight.js/highlight.pack.js" }}
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <script>

        function UpdateTab(id) {
            document.getElementById(id)
                .querySelectorAll("input")
                .forEach(function (item, i, arr) {
                    var tab = document.getElementById(item.id + "_tab");
                    tab.style.display = item.checked ? "" : "none";
                });
        }

    </script>
</head>
<body>
<h1>Результат тестирования</h1>
{{range .Reports}}
<h2 id="{{ .Checker.Name }}">[{{ .Result }}] {{ .Checker.Name }}</h2>
<div>{{ .Checker.Description }}</div>
{{range .SkippedBy}}
<div>Skip: {{.}}</div>
{{end}}
{{range .Pass}}
<h3>Pass: {{.Name}}</h3>
{{range .Messages}}
<h3>URL: {{ .Url }}</h3>
{{if ne .Delta "" }}
<h4>Delta</h4>
<table class="diff" width="100%">
    <thead>
    <tr>
        <th class="line-num"></th>
        <th>Ожидание</th>
        <th>Реальность</th>
        <th class="line-num"></th>
    </tr>
    </thead>
    <tbody>{{ .Delta }}</tbody>
</table>
{{end}}

{{template "message" dict "Payload" .Request "Title" "Запрос" }}
{{template "message" dict "Payload" .Response "Title" "Ответ" }}

{{if and .Example ( ne .Delta "" ) }}
{{template "message" dict "Payload" .Example "Title" "Ожидался ответ вида" }}
{{end}}
{{end}}
{{end}}
{{end}}
</body>
</html>
